<button (click)="export('image/png')" mat-menu-item>
  <span>PNG</span>
</button>
<button (click)="changeVisibleNotWorking()" mat-menu-item>
  <span>Change visible not working when exporting</span>
</button>
<button (click)="changeVisibleWorking()" mat-menu-item>
  <span>Change visible working when exporting</span>
</button>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  (chartInstance)="logChartInstance($event)"
  [callbackFunction]="chartCallback"
>
</highcharts-chart>
